{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<h1 class="display-3">신문방송학도가 <mark>코딩</mark>을 하게 된 계기?</h1>
<div class="story"> 급발진 사고와 같은 자동차 결함으로 인한 무고한 죽음을 막기 위해 만들어진 사이트가 있습니다.<br>
‘내차포털’ 사이트는 언론사 뉴스타파와 공익개발자그룹 Null의 협업으로 만들어졌습니다.<br>
자동차의 결함을 데이터베이스에 정리했을 뿐만 아니라,<br> 정부 및 제작자가 자동차의 결함을 숨긴다는 구조적 문제까지 지적합니다.<br>
저도 도로 위에서 무고한 죽음이 줄어들도록, ‘외상센터 지도’를 만들고 싶습니다.<br> 외상센터의 열악함을 데이터를 통해 효과적으로 알리면 어떨까요?<br>
아직은 막연한 '외상센터 지도'뿐만 아니라, 제가 만들 수 있는 공익서비스는 어떤 것들이 있을까요?<br>
그 답을 1년간, 혹은 더 오랫동안 찾아보고자 합니다.</div>
<div class="dream">
    <center>
        <h4>공익개발자의 꿈, 멋쟁이 사자처럼에서 한걸음 내딛어보고 싶습니다</h4>
        <br>
        <br>
    </center>
    
</div>

<footer>
    <center>
        <h6>
            저에게 개발자의 꿈을 던져준 내차포털에 대해 더 알고 싶다면,
        </h6>
    </center>
    <div class="foot-image">
        <div class="1st-image">
            <a href="https://newstapa.org/" target="_blank"><img src="https://storage.googleapis.com/newstapa-apps.appspot.com/desucar/static/img/footer-1.jpg"></a>
        </div>
        <div class="2nd-image">
            <a href="https://github.com/NullFull/safercar" target="_blank"><img src="https://storage.googleapis.com/newstapa-apps.appspot.com/desucar/static/img/footer-2.jpg"></a>
        </div>

    </div>
    
    


</footer>
{% endblock %}




